// Normalize.css
$line-height: 1.15;

$all-box-sizing: border-box;

$body-margin: 0;

$main-display: block;

$h1-font-size: 2em;
$h1-margin: 0.67em 0;

$hr-box-sizing: content-box;
$hr-height: 0;
$hr-overflow: visible;

$pre-font-famaly: monospace, monospace;
$pre-font-size: 1em;

$a-bg-color: transparent;

$abbr-with-title-border-bottom: none;
$abbr-with-title-text-decoration-1: underline;
$abbr-with-title-text-decoration-2: underline dotted;

$b-strong-font-weight: bolder;

$code-font-famaly: monospace, monospace;
$code-font-size: 1em;

$small-font-size: 80%;

$sub-sup-font-size: 75%;
$sub-sup-line-height: 0;
$sub-sup-position: relative;
$sub-sup-vertical-align: baseline;

$sub-bottom: -0.25em;
$sup-top: -0.5em;

$img-border-style: none;

$btn-input-optgr-select-textarea-font-famaly: inherit;
$btn-input-optgr-select-textarea-font-size: 100%;
$btn-input-optgr-select-textarea-line-height: 1.15;
$btn-input-optgr-select-textarea-margin: 0;

$btn-input-overflow: visible;

$btn-select-text-transform: none;

$fieldset-padding: 0.35em 0.75em 0.625em;


$legend-box-sizing: border-box;
$legend-color: inherit;
$legend-display: table;
$legend-max-width: 100%;
$legend-padding: 0;
$legend-white-space: normal;

$progress-vertical-align: baseline;

$textarea-overflow: auto;

$checkbox-radio-box-sizing: border-box;
$checkbox-radio-padding: 0;

$search-webkit-appearance: textfield;

$details-display: block;

$summary-display: list-item;

$template-display: none;

$attribute-hidden-display: none;